
body{
    overflow-x: hidden;
}
p{
    margin: 0;
    color: #08007B;
}
span{
    font-size: 55px;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}


/* Future */
.future{
    background: url('../images/gBox.png') -365px -330px no-repeat ,url('../images/Intersection.png') -370px 23px no-repeat;
    height: 1600px;
    padding-top: 50px;
}
.future .container .dis{
    font-size: 40px;
}
.future .details p{
    color: #000;
    padding-top: 30px;
}
/* Visual */
.visual{
    background: url('../images/v1.png') 101% -3% no-repeat,url('../images/v1.png') 101% 6% no-repeat ,url('..//images/v23.png') 0% 67% no-repeat,url('..//images/r3a.png') -104px 53px no-repeat;
    height: 600px;
    padding-top: 50px;
}
.visual .details p, .end{
    color: #000;
    margin-left: 35px;
}
.visual .details p:nth-child(1){
    margin-bottom: 20px;
}
.visual .details p:nth-child(2){
    margin-bottom: 20px;
}

img.video-img {
    width: 100%;
    margin: 0 auto;
    padding: 35px;
}
.video {
    position: relative;
    margin-bottom: 10px;
}

.video h5 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}
img.v3-img {
    position: absolute;
    top: -67px;
    left: -249px;
    width: 34%;
    z-index: 5;
}
img.v9-img {
    position: absolute;
    top: -95px;
    width: 32%;
    right: -203px;
    z-index: 8;
    opacity: 0.7;
    color: red !important;
    transform: rotate(8deg);
}


/* Own Brnad */

.partP{
    margin-top: 300px;
    font-size: 40px;
}
.partImage{
    margin-top: 0px;
    margin-bottom: 0px;
}
.partB{
    font-size: 20px;
    margin-top: 250px;
    color: #000;
}
#part1{
    padding-top: 50px;
    padding-bottom: 150px;
    background: url("../images/mobile/d1.png") 0% -10% no-repeat, url("../images/mobile/d2.png") 45% 103% no-repeat, url("../images/mobile/d3.png") 110% 135% no-repeat;
}
#part2,#part3{
    padding-top: 100px;
    padding-bottom: 150px;
}
#part3 .d4{
    margin-top: -220px;
    margin-left: -135px;
    width: 235px;
    transform: rotate(7deg);
}
#part3 .d5{
    margin-top: 10px;
    margin-left: 550px;
}





/* //////////////market///////////////// */

#market{
    padding-top: 50px;
    background: linear-gradient(rgba(236, 234, 234, 0.5), rgba(241, 239, 239, 0.5));
}
#market .container img{
    transform: scaleX(-1);
    /* background:url(../images/market.png); */
    width: 100%;
    height: 100vh;
    margin-left: -250px;
    z-index: -999;
    filter: saturate(20%) contrast(20%) brightness(60%) invert(200%) sepia(1000%) hue-rotate(200deg);
}
#market .status {
    position: absolute;
    top: 45px;
}
#market .details{
    font-size: 30px;
    margin-left: 120px;
    margin-top: 150px;
    position: absolute;
    top: 50px;
}
#market .details p{
    color: #000;
}
#market .details p:nth-child(1){margin-bottom: 15px;}
#market .details p:nth-child(2){margin-bottom: 15px;}
#market .details p:nth-child(3){margin-bottom: 15px;}
#market .details p:nth-child(4){margin-bottom: 15px;}

/* /////////revenue//////////// */
.topImage{
    position: absolute;
    margin-top: -192px;
    transform: rotate(-15deg);
    margin-left: -143px;
}
.content_brand{
    margin-top: 100px;
    margin-left: 45px;
    font-size: 40px;line-height: normal;
}
#revenue .details p{
    color:#000;
    font-size: 25px;margin-top: 100px;
    margin-left: 150px;
}
.middle {
    position: absolute;
    top: 3px;
    left: 200px;

}
.bottom .right{
    position: absolute;
    margin-top: -5px;
    margin-left: 471px;
}

/* Augmented */
#augmented{
    padding-top: 50px;
}
.name{
    line-height: 45px;
}
.name span{
    margin-left: -10px;
}
#augmented .details p{
    font-size: 20px;
    color: #000;
}
#augmented .details p:nth-child(1){
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#augmented .details p:nth-child(2){
    margin-left: 125px;
    margin-bottom: 20px;
}

